@font-face {
  font-family: "Inter";
  src: url("../fonts/inter_cyrillic-regular.woff2"), format("woff2"),
    url("../fonts/inter_cyrillic-regular.woff"), format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter_cyrillic-700.woff2"), format("woff2"),
    url("../fonts/inter_cyrillic-700.woff"), format("woff");
  font-display: swap;
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #18171a;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input,
button,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-height: 100%;
  height: auto;
}

.container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 72px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px 0;
  color: #fff;
}

.header__container {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  align-items: center;
  gap: 15px;
}

.header__phone {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 3px;
  color: #b8ff20;
  transition: color 0.3s ease-in-out;
}

.header__phone-number {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.header__phone:hover,
.header__phone:hover .header__phone-number {
  color: #cdf478;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navigation__item {
  transition: color 0.3s ease-in-out;
}

.navigation__item:hover {
  color: #cdf478;
}

.hero {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 220px;
  padding-bottom: 120px;
  color: #fff;
  margin-bottom: 60px;
}

.hero__title {
  font-size: 130px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero__title-letter {
  color: #bbff20;
}

.hero__subtitle {
  font-size: 26px;
  margin-bottom: 60px;
}

.btn {
  min-width: 380px;
  height: 78px;
  padding: 14px 30px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  font-size: 26px;
  font-weight: 700;
  color: #18171a;
  /* outline: none; */
  transition: background-color 0.3s ease-in-out, border-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #cdf478;
}

.btn:focus {
  border: 2px solid #b8ff20;
}

.btn:active {
  background-color: #b8ff20;
}

.product {
  padding: 60px 0;
}

.product:nth-child(odd) .product__container {
  flex-direction: row-reverse;
}

.product__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.product__content {
  max-width: 582px;
}

.product__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.product__description {
  line-height: 150%;
  margin-bottom: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.product__btn {
  background-color: #b8ff20;
}

.product__btn:hover {
  background-color: #cdf478;
}

.product__btn:focus {
  border-color: #18171a;
}

.product__btn:active {
  color: #fff;
  background-color: #18171a;
}

.contacts_section {
  padding-top: 60px;
}

.contacts__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 50px;
}

.contacts__wrapper {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.contacts__container {
  display: flex;
  align-items: center;
  padding-left: max(72px, calc((100% - 1180px) / 2));
  padding-right: 0;
  max-width: none;
}

.contacts__column {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-right: 20px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 3px;
  transition: color 0.3s ease-in-out;
}

.contacts__link svg {
  color: #b8ff20;
  transition: color 0.3s ease-in-out;
}

.contacts__link:hover,
.contacts__link:hover svg {
  color: #cdf478;
}

.social {
  display: flex;
  gap: 30px;
}

.social__link {
  color: #b8ff20;
}

.social__link:hover {
  color: #cdf478;
}

.contacts__map-wrapper {
  flex-shrink: 1;
  width: calc(100% - 380px);
  height: 386px;
}

.contacts__map {
  width: 100%;
  height: 100%;
  background-image: url("../img/map.jpg");
  background-position: center center;
}

.footer {
  background-color: #18171a;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff;
}

.footer__logo {
  width: 160px;
  margin-bottom: 40px;
}

.footer__columns {
  display: flex;
  gap: 120px;
  margin-bottom: 18px;
}

.footer__column {
  max-width: 280px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.contacts__list_footer {
  gap: 10px;
  margin-bottom: 20px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 130%;
}
